@model DgBooksDB.Libro
@using DgBooks.Models;

@{
    ViewBag.UserAux = ViewBag.User;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <main>
        <div class="libro-principal">
            <div class="contenedor">
                <div class="row  mt-5">
                    <div class="col-8">
                        <h3 class="titulo"> @Html.DisplayFor(model => model.NombreLibro)</h3>
                        <div class="container body-content">
                            <div class="panel panel-default">
                                <div class="panel-heading">Generos</div>
                                <div class="panel-body">
                                    <ul class="lista-generos">

                                        @if (MySession.Current.Generos.Count() > 0)
                                        {
                                            foreach (var item in MySession.Current.Generos)
                                            {
                                                <a href="@Url.Action("PantallaP","Libros", new { id=MySession.Current.IdUsuario, generoId=item.intIdGenero})">
                                                    <button role="button" class="boton btn-action-icon"><i class="fas fa-info-circle"></i>@item.strNombreGenero</button>
                                                </a>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <nav>
                            <p class="autor"><i class="fas fa-users"> @ViewBag.Autor.strNombrePersona @ViewBag.Autor.strApellidoP</i></p>
                            <p class="fecha"><i class="fas fa-calendar"></i> @ViewBag.Year</p>
                        </nav>

                        <p class="descripcion">
                            @Html.DisplayFor(model => model.strSinopsis)
                        </p>

                        <a href="@Url.Action("PantallaLectura", new { id=Html.DisplayFor(model=>model.intIdLibor), idU=ViewBag.User.intIdUsuario})">
                            <button role="button" class="boton"><i class="fas fa-book-open"></i> Leer</button>
                        </a>

                        @*<button role="button" class="boton"><i class="fas fa-heart"></i>Favorito</button>*@
                        <a href="@Url.Action("AgregarFavorito","Libros", new { idLibro=Html.DisplayFor(model=>model.intIdLibor)})">
                            <button role="button" class="boton"><i class="fas fa-heart"></i></button>
                        </a>

                        @*@using (Html.BeginForm("AutorDetail", "Libros", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="text" name="intIdAutor" value="@Html.DisplayFor(model=>model.intIdAutor)" style="display:none" />

                            <a href="#">
                                <button role="button" type="submit" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
                            </a>
                        }*@
                    </div>

                    <div class="col-2">
                        <div class="card">
                            <img src="@Html.DisplayFor(model => model.strLinkImagenLibro)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
